.forgotPassword-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #202C33;
    color: white;
    font-family: Roboto, sans-serif;
    padding: 20px;
    box-sizing: border-box;
}

.forgotPassword-container p{
    margin-bottom: 20px;
    font-size: 1em;
    text-align: center;
}

.forgotPassword-container h1 {
    margin-bottom: 20px;
    font-size: 1.8em;
    text-align: center;
}

.forgotPassword-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px;
    background-color: #2A3942;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.forgotPassword-form label {
    font-size: 0.9em;
    margin-bottom: 5px;
}   

.forgotPassword-form input {
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    background-color: #3C4D58;
    color: white;
    outline: none;
}

.forgotPassword-form input::placeholder {
    color: #ABB2B9;
}

.forgotPassword-form input:focus {
    background-color: #4B5B67;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.forgotPassword-form button {
    padding: 10px;
    background-color: #00A884;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.forgotPassword-form button:hover {
    background-color: #019374;
}

.forgotPassword-footer {
    margin-top: 15px;
    font-size: 0.9em;
    text-align: center;
}

.forgotPassword-footer .link {
    color: #00A884;
    text-decoration: none;
    margin-left: 5px;
}

.forgotPassword-footer .link:hover {
    text-decoration: underline;
}